html{
    font-family: 'Roboto', sans-serif;
    /*font-size: 62.5%; pour utiliser les rem sur une base de 10px*/
}*/
a{
    text-decoration: none;
    color:black;
}
.titles{
    font-family: 'Shrikhand', cursive;
}
.container{
    width: 100%;
    margin: 0;
}
