@charset "UTF-8";
@keyframes progress_appearance {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes dishes_movement {
  0% {
    opacity: 0;
    top: 3rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}
@keyframes category_movement {
  0% {
    opacity: 0;
    right: -20rem;
  }
  100% {
    opacity: 1;
    right: 0rem;
  }
}
@keyframes spinner_vertical {
  0% {
    transform: rotate(0turn);
    top: 0rem;
    transform: scale(50%);
  }
  33% {
    transform: rotate(0.5turn);
    top: 6rem;
  }
  50% {
    transform: scale(150%);
  }
  66% {
    transform: rotate(1.5turn);
    top: -6rem;
  }
  100% {
    transform: rotate(2turn);
    top: 0rem;
    transform: scale(50%);
  }
}
@keyframes loader_spinner {
  0% {
    transform: rotate(-1turn) translate(8rem) scale(0);
  }
  25% {
    transform: rotate(-0.5turn) translate(8rem) scale(0.7);
  }
  50% {
    transform: rotate(0turn) translate(8rem) scale(1.2);
  }
  75% {
    transform: rotate(0.5turn) translate(8rem) scale(0.5);
  }
  100% {
    transform: rotate(1turn) translate(8rem) scale(0.2);
  }
}
@keyframes loader_disparition {
  4% {
    opacity: 1;
  }
  10% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    z-index: -1;
  }
}
/*possibilité d'animation des "menu__dishes-choice" à la place des transitions.*/
html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  letter-spacing: normal;
}

.container .loader {
  background: white;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: loader_disparition 30s;
}
.container .loader p {
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  border: solid 8px #99E2D0;
  color: white;
  width: 9rem;
  height: 9rem;
  line-height: 85%;
  background-image: radial-gradient(at 10% 25%, #782cd3, #fface8);
}
.container .loader i {
  position: absolute;
  z-index: 90;
  border: solid 1px;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  animation: loader_spinner 3s linear;
  animation-iteration-count: 3;
}
.container .loader .loader_C1 {
  background-color: #9356DC;
  animation-delay: 0ms;
}
.container .loader .loader_C2 {
  background-color: #FF79DA;
  animation-delay: 200ms;
}
.container .loader .loader_C3 {
  background-color: #99E2D0;
  animation-delay: 400ms;
}

.container {
  min-width: 360px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__logo {
  position: relative;
  width: 44%;
  margin: 0 auto;
  padding: 1.4rem 0 0.5rem;
}
.header__logo img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 36%;
    padding: 1.6rem 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    width: 28%;
    padding: 2.5rem 0 1.6rem;
  }
}
@media screen and (min-width: 1692px) {
  .header__logo {
    width: 20%;
  }
}
.header__arrow {
  position: relative;
  left: 1.5rem;
  top: 0.3rem;
  font-size: 0;
  width: 0;
}
@media screen and (min-width: 768px) {
  .header__arrow {
    left: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__arrow {
    left: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__arrow:hover {
    color: #99E2D0;
    transition: color 0.2s;
  }
}
.header__arrow i {
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .header__arrow i {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .header__arrow i {
    font-size: 2rem;
  }
}

footer {
  background-color: #383838;
  margin: 0;
  padding: 0.7rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  footer {
    height: 10rem;
  }
}
@media screen and (min-width: 768px) {
  footer p {
    text-align: center;
  }
}
footer p img {
  width: 6rem;
  filter: invert(100%);
}
@media screen and (min-width: 1024px) {
  footer p img {
    width: 9rem;
  }
}
footer ul {
  list-style-type: none;
  margin: 1rem 0 1.5rem;
  padding: 0;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 1024px) {
  footer ul {
    margin: 2rem 0;
    padding: 0;
  }
}
@media screen and (min-width: 1692px) {
  footer ul {
    display: initial;
    display: grid;
    grid-template-columns: 15% 15%;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    column-gap: 3rem;
    row-gap: 1rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
}
footer ul a {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 0.5rem;
}
footer ul a br {
  display: none;
}
@media screen and (min-width: 768px) {
  footer ul a br {
    display: initial;
  }
}
@media screen and (min-width: 1024px) {
  footer ul a br {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  footer ul a {
    position: relative;
    padding-top: 0.1rem;
    width: max-content;
    margin: auto;
  }
}
@media screen and (min-width: 1692px) {
  footer ul a {
    margin: 0;
    font-size: 1.2rem;
  }
}
footer ul a i {
  font-size: 0.8rem;
  width: 1.3rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  footer ul a i {
    position: relative;
    top: -0.5rem;
    padding-top: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  footer ul a i {
    top: initial;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
@media screen and (min-width: 768px) {
  nav {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1.5fr 2fr;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    grid-template-columns: 1.2fr 3fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0;
    column-gap: 0.3rem;
  }
}
nav #localization {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  border-top-style: solid;
  border-top-width: 0.3rem;
  background-color: #e8e8e8;
  border-image: linear-gradient(to bottom, #c2c2c2, transparent) 100;
  width: 100%;
  height: 2.9rem;
}
@media screen and (min-width: 768px) {
  nav #localization {
    grid-column: 1/4;
  }
}
@media screen and (min-width: 1024px) {
  nav #localization {
    flex-direction: column;
    align-items: flex-start;
    grid-column: initial;
    grid-row: 1/3;
    width: auto;
    height: 16rem;
    padding-left: 3rem;
    border-top: none;
  }
}
@media screen and (min-width: 1692px) {
  nav #localization {
    padding-left: 8rem;
  }
}
nav #localization label {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.06rem;
  margin-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  nav #localization label {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  nav #localization label {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  nav #localization label i {
    position: relative;
    top: 1.6rem;
    left: -0.4rem;
    font-size: 1.6rem;
  }
}
nav #localization select {
  appearance: none;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: none;
  margin-bottom: 0.2rem;
}
@media screen and (min-width: 768px) {
  nav #localization select {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  nav #localization select {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 2.2rem;
  }
}
nav h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2.5rem 0.5rem 0.3rem;
  line-height: 115%;
}
@media screen and (min-width: 768px) {
  nav h1 {
    grid-column: 1/3;
    position: relative;
    top: 1rem;
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  nav h1 {
    grid-column: 2/2;
    position: initial;
    margin: auto 2rem 0.6rem;
    font-size: 2.2rem;
    font-weight: 900;
  }
}
@media screen and (min-width: 768px) {
  nav h1 br {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  nav h1 br {
    display: initial;
  }
}
nav h2 {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  margin: 0.6rem 0.5rem 0.9rem;
}
@media screen and (min-width: 768px) {
  nav h2 {
    grid-column: 1/3;
    margin: auto;
    line-height: 125%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1024px) {
  nav h2 {
    grid-column: 2/2;
    grid-row: 2/3;
    margin: 0.3rem 2rem auto;
    line-height: 150%;
    font-size: 1.6rem;
  }
}
nav .nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: auto;
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 6rem;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 0.3rem 0.7rem #bbbbbb;
  margin: 1rem 0.5rem 3.6rem;
}
@media screen and (min-width: 768px) {
  nav .nav__link {
    grid-column: 3/4;
    grid-row: 2/4;
    margin: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  nav .nav__link {
    grid-row: 1/3;
    min-width: 4rem;
    max-width: 14rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: auto;
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
    border-radius: 6rem;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: 0 0.3rem 0.7rem #bbbbbb;
  }
}
nav .nav__link:hover {
  background: linear-gradient(to bottom right, #ffa7e7, #ab7ce4);
  box-shadow: 0 0.3rem 0.7rem #959595;
}

.funct {
  padding: 1.7rem 1.3rem 4.3rem;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .funct {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
.funct h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .funct h2 {
    text-align: center;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .funct h2 {
    font-size: 2rem;
  }
}
.funct ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .funct ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
.funct__list {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245);
  height: 4.4rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.3rem 0.7rem rgb(225, 225, 225);
  margin-left: 1rem;
  font-weight: 700;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .funct__list {
    width: 30%;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .funct__list {
    font-size: 1.3rem;
    height: 4.8rem;
  }
}
@media screen and (min-width: 1692px) {
  .funct__list {
    height: 5.4rem;
  }
}
.funct__list span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .funct__list span {
    font-size: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .funct__list span {
    font-size: 1.4rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}
.funct__list i {
  margin-left: 0.4rem;
  width: 2.5rem;
  color: #767676;
  font-size: 1.15rem;
}
@media screen and (min-width: 1024px) {
  .funct__list i {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1692px) {
  .funct__list i {
    font-size: 1.6rem;
  }
}
.funct__list--color {
  background-color: #f2eafb;
  height: 4.5rem;
}
@media screen and (min-width: 1024px) {
  .funct__list--color {
    height: 4.8rem;
  }
}
@media screen and (min-width: 1692px) {
  .funct__list--color {
    height: 5.4rem;
  }
}
.funct__list--color i {
  color: #9356DC;
}

.rest {
  padding: 2rem 1.3rem 4rem;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}
.rest h2 {
  font-size: 1.5rem;
  margin: 1.3rem 0;
}
@media screen and (min-width: 768px) {
  .rest h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .rest h2 {
    font-size: 2rem;
  }
}
.rest__list {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
@media screen and (min-width: 768px) {
  .rest__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .rest__list {
    row-gap: 2rem;
  }
}
.rest__frame {
  position: relative;
  width: 100%;
  box-shadow: 0 0.3rem 0.7rem rgb(225, 225, 225);
  border-radius: 1rem;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .rest__frame {
    width: 48%;
  }
}
@media screen and (min-width: 1692px) {
  .rest__frame {
    max-width: 24%;
  }
}
.rest__frame-fig {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.rest__frame-new {
  position: absolute;
  right: 0.7rem;
  top: 0.9rem;
  background-color: #99E2D0;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.3rem 0.7rem;
  color: #299077;
}
@media screen and (min-width: 1024px) {
  .rest__frame-new {
    font-size: 1.2rem;
  }
}
.rest__frame-new--inactive {
  display: none;
}
.rest__frame-picture {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  object-position: bottom;
  border-radius: 1rem 1rem 0 0;
}
.rest__frame-picture--vertical {
  object-position: 0 62%;
}
@media screen and (min-width: 768px) {
  .rest__frame-picture {
    height: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  .rest__frame-picture {
    height: 18rem;
  }
}
.rest__frame-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rest__frame-details h3 {
  margin: 0.9rem 0.8rem 0.1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 1024px) {
  .rest__frame-details h3 {
    margin: 1.3rem 0.8rem 0.2rem;
    font-size: 1.4rem;
  }
}
.rest__frame-details h4 {
  margin: 0.1rem 0.8rem 1rem;
  font-size: 1.1rem;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .rest__frame-details h4 {
    margin: 0.2rem 0.8rem 1.4rem;
    font-size: 1.4rem;
  }
}
.rest__frame-fav {
  position: absolute;
  border: none;
  padding: 0;
  bottom: 2rem;
  right: 1.5rem;
  font-size: 0;
}
.rest__frame-fav .heart-1 {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  opacity: 1;
  z-index: 0;
  font-size: 1.5rem;
  background-image: linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.06rem;
  -webkit-text-stroke-color: black;
}
.rest__frame-fav .heart-1:link, .rest__frame-fav .heart-1:visited, .rest__frame-fav .heart-1:hover, .rest__frame-fav .heart-1:active {
  opacity: 0;
  transition: opacity 1.5s;
}
.rest__frame-fav .heart-2 {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  opacity: 0;
  z-index: 0;
  font-size: 1.5rem;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-stroke-width: 0.06rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}
.rest__frame-fav .heart-2:link, .rest__frame-fav .heart-2:visited, .rest__frame-fav .heart-2:hover, .rest__frame-fav .heart-2:active {
  opacity: 1;
  transition: opacity 1.5s;
}

.sign {
  padding: 0;
  margin: 0;
  position: relative;
  height: 17.5rem;
}
@media screen and (min-width: 768px) {
  .sign {
    height: 22rem;
  }
}
@media screen and (min-width: 1024px) {
  .sign {
    height: 26rem;
  }
}
.sign__picture {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
@media screen and (min-width: 768px) {
  .sign__picture {
    object-position: center;
  }
}
@media screen and (min-width: 1024px) {
  .sign__picture {
    object-position: 0 60%;
  }
}
.sign__picture--vertical {
  object-position: 0 62%;
}
.sign__titles {
  position: absolute;
  bottom: -0.9rem;
  background-color: rgb(245, 245, 245);
  width: 100%;
  border-radius: 3rem 3rem 0 0;
  margin: 0;
}
.sign__titles-name {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 1rem;
  margin: 2rem 0 0rem;
}
@media screen and (min-width: 768px) {
  .sign__titles-name {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .sign__titles-name {
    padding-left: 0;
    text-align: center;
  }
}
.sign__titles-fav {
  position: absolute;
  border: none;
  padding: 0;
  bottom: 0.7rem;
  right: 2.5rem;
  font-size: 0;
}
.sign__titles-fav .heart-1 {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  opacity: 1;
  z-index: 0;
  font-size: 1.5rem;
  background-image: linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.06rem;
  -webkit-text-stroke-color: black;
}
.sign__titles-fav .heart-1:link, .sign__titles-fav .heart-1:visited, .sign__titles-fav .heart-1:hover, .sign__titles-fav .heart-1:active {
  opacity: 0;
  transition: opacity 1.5s;
}
.sign__titles-fav .heart-2 {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  opacity: 0;
  z-index: 0;
  font-size: 1.5rem;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-stroke-width: 0.06rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}
.sign__titles-fav .heart-2:link, .sign__titles-fav .heart-2:visited, .sign__titles-fav .heart-2:hover, .sign__titles-fav .heart-2:active {
  opacity: 1;
  transition: opacity 1.5s;
}

.menu {
  display: flex;
}
.menu form {
  display: flex;
  padding: 0 0.8rem;
  width: 100%;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .menu form {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .menu form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    column-gap: 1.3rem;
  }
}
.menu__category {
  /*animation de l'arrivée des catégories de plats (1 à 3) uniquement desktop*/
}
.menu__category-1, .menu__category-2, .menu__category-3 {
  position: relative;
  z-index: 0;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0;
  margin: 2.2rem 0 0 0;
  width: 100%;
  border-style: none;
  overflow: hidden;
}
.menu__category-1::before, .menu__category-2::before, .menu__category-3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: rgb(245, 245, 245);
  /*animation du fond à opacité dégressive complément animations catégories et plats (1 à 3)*/
  animation: progress_appearance 2s;
}
.menu__category-1 legend, .menu__category-2 legend, .menu__category-3 legend {
  width: 2.5rem;
  border-bottom: solid 0.2rem #99E2D0;
  background-color: rgb(245, 245, 245);
  border-bottom: 0.2rem solid #99E2D0;
  padding: 0.3rem 0 0.4rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 1024px) {
  .menu__category-1 {
    animation: category_movement 500ms;
  }
}
@media screen and (min-width: 1024px) {
  .menu__category-2 {
    animation: category_movement 1000ms;
  }
}
@media screen and (min-width: 1024px) {
  .menu__category-3 {
    animation: category_movement 1500ms;
  }
}
.menu__dishes {
  /*animation de l'arrivée des plats (1 à 3) mobile et tablet*/
}
.menu__dishes-1, .menu__dishes-2, .menu__dishes-3, .menu__dishes-4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.7rem rgb(225, 225, 225);
  padding: 0;
  overflow: hidden;
}
.menu__dishes-1 label, .menu__dishes-2 label, .menu__dishes-3 label, .menu__dishes-4 label {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0.8rem 0;
  row-gap: 0.2rem;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-1 label, .menu__dishes-2 label, .menu__dishes-3 label, .menu__dishes-4 label {
    padding: 1.2rem 0;
    row-gap: 0.5rem;
  }
}
.menu__dishes-1 label .menu__dishes-name, .menu__dishes-1 label .menu__dishes-detail, .menu__dishes-2 label .menu__dishes-name, .menu__dishes-2 label .menu__dishes-detail, .menu__dishes-3 label .menu__dishes-name, .menu__dishes-3 label .menu__dishes-detail, .menu__dishes-4 label .menu__dishes-name, .menu__dishes-4 label .menu__dishes-detail {
  white-space: nowrap; /* passage à la ligne interdit et blancs regroupés*/
  overflow: hidden; /*le contenu qui dépasse est rogné*/
  text-overflow: ellipsis; /*points de suspension remplacent le texte rogné*/
}
.menu__dishes-1 label .menu__dishes-name, .menu__dishes-2 label .menu__dishes-name, .menu__dishes-3 label .menu__dishes-name, .menu__dishes-4 label .menu__dishes-name {
  grid-area: 1/1;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0 1rem 0 0.8rem;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-1 label .menu__dishes-name, .menu__dishes-2 label .menu__dishes-name, .menu__dishes-3 label .menu__dishes-name, .menu__dishes-4 label .menu__dishes-name {
    font-size: 1.2rem;
  }
}
.menu__dishes-1 label .menu__dishes-detail, .menu__dishes-2 label .menu__dishes-detail, .menu__dishes-3 label .menu__dishes-detail, .menu__dishes-4 label .menu__dishes-detail {
  grid-area: 2/1;
  font-size: 0.9rem;
  padding: 0 1rem 0 0.8rem;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-1 label .menu__dishes-detail, .menu__dishes-2 label .menu__dishes-detail, .menu__dishes-3 label .menu__dishes-detail, .menu__dishes-4 label .menu__dishes-detail {
    font-size: 1rem;
  }
}
.menu__dishes-1 label .menu__dishes-price, .menu__dishes-2 label .menu__dishes-price, .menu__dishes-3 label .menu__dishes-price, .menu__dishes-4 label .menu__dishes-price {
  grid-area: 2/2;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  text-align: right;
  padding-right: 1.2rem;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-1 label .menu__dishes-price, .menu__dishes-2 label .menu__dishes-price, .menu__dishes-3 label .menu__dishes-price, .menu__dishes-4 label .menu__dishes-price {
    font-size: 1.1rem;
  }
}
.menu__dishes-1 label:hover + .menu__dishes-choice, .menu__dishes-2 label:hover + .menu__dishes-choice, .menu__dishes-3 label:hover + .menu__dishes-choice, .menu__dishes-4 label:hover + .menu__dishes-choice {
  transition: width 0.4s linear;
  width: 20%;
  justify-content: center;
}
.menu__dishes-1 label:hover + .menu__dishes-choice i, .menu__dishes-2 label:hover + .menu__dishes-choice i, .menu__dishes-3 label:hover + .menu__dishes-choice i, .menu__dishes-4 label:hover + .menu__dishes-choice i {
  transform: rotate(1turn);
  transition: transform 0.4s ease-in-out;
}
.menu__dishes-1 {
  animation: dishes_movement 400ms;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-1 {
    animation: none;
  }
}
.menu__dishes-2 {
  animation: dishes_movement 900ms;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-2 {
    animation: none;
  }
}
.menu__dishes-3 {
  animation: dishes_movement 1400ms;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-3 {
    animation: none;
  }
}
.menu__dishes-4 {
  animation: dishes_movement 1500ms;
}
@media screen and (min-width: 1024px) {
  .menu__dishes-4 {
    animation: none;
  }
}
.menu__dishes-choice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 0%;
  background-color: #99E2D0;
}
.menu__dishes-choice i {
  background-color: white;
  border-radius: 50%;
  padding: 0.15rem;
  color: #99E2D0;
  font-size: 1rem;
  font-weight: bold;
  transform: rotate(0turn);
}
.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  font-size: 1rem;
  padding: 1rem 3rem;
  border-radius: 6rem;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 0.3rem 0.7rem #bbbbbb;
  margin: 2.5rem 0 1.7rem;
  border: none;
}
.menu__btn:hover {
  background: linear-gradient(to bottom right, #ffa7e7, #ab7ce4);
  box-shadow: 0 0.3rem 0.7rem #959595;
}
@media screen and (min-width: 1024px) {
  .menu__btn {
    grid-column: 2/2;
    min-width: 16rem;
    margin: auto;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
