footer{
    background-color: #383838;
    margin: 0;
    padding: 0.7rem 1.5rem;

    @include desktop-only{
        height: 10rem;
    }

    p{
        @include tablet-only{
        text-align: center;
    }

    img{
        width: 6rem;
        filter: invert(100%);

        @include desktop-only{
            width: 9rem;
        }

        }
    }

    ul{
        list-style-type: none;
        margin: 1rem 0 1.5rem;
        padding: 0;
        font-weight: 300;
        
        @include tablet-only{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }

        @include desktop-only{
            margin: 2rem 0;
            padding: 0;
        }

        @include desktop-only-big{
            display: initial;
            display: grid;
            grid-template-columns: 15% 15%;
            grid-template-rows: 1fr 1fr;
            justify-content: flex-start;
            column-gap: 3rem;
            row-gap: 1rem;
            margin-top: 0;
            margin-bottom: 1.5rem;
        }

        a{
            display: flex;
            align-items: center;
            color: #fff;
            margin-bottom: 0.5rem;

            br{
                display: none;

                @include tablet-only{
                    display: initial;
                }
                @include desktop-only{
                    display: none;
                }
            }
            
            @include tablet-only{
                position: relative;
                padding-top: 0.1rem;
                width: max-content;
                margin: auto;
            }

            @include desktop-only-big{
                margin: 0;
                font-size: 1.2rem;
            }

            i{
                font-size: 0.8rem;
                width: 1.3rem;
                padding-right: 0.5rem;

                @include tablet-only{
                    position: relative;
                    top: -0.5rem;
                    padding-top: 0.2rem;
                }

                @include desktop-only{
                    top: initial;
                }
            }
        }
    }
}