.header{
    display: flex;
    align-items: center;

    &__logo{
        position: relative;
        width: 44%;
        margin: 0 auto;
        padding: 1.4rem 0 0.5rem;
        img{
            width: 100%;
        }
    }
    &__arrow{
        position: absolute;
        left: 1.5rem;
        font-size: 0;
        i{
            font-size: 1.3rem;
        }
    }

}