body{
    .loader{
        background: white;
        position: fixed;
        z-index: -8000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        animation: loader_disparition 3s;

        // display: none;
   
        p{
            display: flex;
            z-index: -6000;
            @include flex-totaly-center;
            @include titles;
            text-align: center;
            font-size: 1.6rem;
            border-radius: 50%;
            border: solid 6px $color-tertiary;
            color: white;
            width: 9rem;
            height: 9rem;
            line-height: 85%;
            background-image: radial-gradient(at 10% 25%, darken($color-primary, 10), lighten($color-secondary, 10));
        }
    
        i{
            position: absolute;
            z-index: -7000;
            border: solid 1px;
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
            
            animation: loader_spinner 3s linear;
            animation-iteration-count: 3;
        }
        .loader_C1{
            background-color: $color-primary;
            animation-delay: 0ms;
        }
        .loader_C2{
            background-color: $color-secondary;
            animation-delay: 180ms;
        }
        .loader_C3{
            background-color: $color-tertiary;
            animation-delay: 360ms;
        }
    }
} 