@mixin btn ($Height:2rem, $Width:auto, $PadTopBott:0.6rem, $PadRightLeft:1.5rem, $FontSize:1rem){
    display: flex;
    justify-content: center;
    align-items: center;
    height: $Height;
    width: $Width;
    font-size: $FontSize;
    padding: $PadTopBott $PadRightLeft;
    border-radius: 6rem;
    color: white;
    background: $color-btn;
    @include shadow-frame($color:darken($color-shadow,15));
}

@mixin heart($bottom:2rem, $right:1.5rem, $size:1.5rem){
    &-fav{
        position: absolute;
        border: none;
        padding: 0;
        bottom: $bottom;
        right: $right;
        font-size: 0;
        
        .heart-1{
            position: absolute;
            right: 0rem;
            bottom: 0rem;
            opacity: 1;
            z-index: 0;
            font-size: $size;
            background-image: linear-gradient(transparent, transparent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 0.06rem;
            -webkit-text-stroke-color: black;
            &:link, &:visited, &:hover, &:active{
                opacity: 0;
                transition: opacity 1.5s;
                cursor: pointer;
            }
        }
        
        .heart-2{
            position: absolute;
            right: 0rem;
            bottom: 0rem;
            opacity: 0;
            z-index: 0;
            font-size: $size;
            background-image: linear-gradient($color-primary, $color-secondary);
            -webkit-text-stroke-width: 0.06rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: transparent;
            &:link, &:visited, &:hover, &:active{
                opacity: 1;
                transition: opacity 1.5s;
                cursor: pointer;
            }
        }

    }
}