.rest{
    padding: 2rem 1.3rem 4rem;
    background-color: $color-backg-sect;
    display: flex;
    flex-direction: column;

    h2{
        @include title-sections;
        margin:1.3rem 0;

        @include tablet-only{
            text-align: center;
            margin-top: 0;
            margin-bottom: 2rem;
        }
        @include desktop-only{
            font-size: 2rem;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 1.1rem;

        @include tablet-only{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop-only{
            row-gap: 2rem;
        }
    }
    &__frame{
        position: relative;
        width: 100%;
        @include shadow-frame;
        border-radius: 1rem;
        background-color: white;

        @include tablet-only{
            width: 48%;
        }
        @include desktop-only-big{
            max-width: 24%;
        }

        &-fig{
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        &-new{
            position: absolute;
            right: 0.7rem;
            top: 0.9rem;
            background-color: $color-tertiary;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 0.3rem 0.7rem;
            color: darken($color: $color-tertiary, $amount: 38%);

            @include desktop-only{
                font-size: 1.2rem;
            }

            &--inactive{
                display: none;
            }
        }   
        &-picture{
            width: 100%;
            height: 11rem;
            object-fit: cover;
            object-position: bottom;
            border-radius: 1rem 1rem 0 0;

            &--vertical{
                object-position: 0 62%;
            }

            @include tablet-only{
                height: 12rem;
            }

            @include desktop-only{
                height: 18rem;
            }

        }
        &-details{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            border-radius: 0 0 1rem 1rem;
            
            h3{
                margin: 0.9rem 0.8rem 0.1rem;
                font-size: 1.1rem;

                @include desktop-only{
                    margin: 1.3rem 0.8rem 0.2rem;
                    font-size: 1.4rem;
                }
            }
            h4{
                margin: 0.1rem 0.8rem 1rem;
                font-size: 1.1rem;
                font-weight: 300;

                @include desktop-only{
                    margin: 0.2rem 0.8rem 1.4rem;
                    font-size: 1.4rem;
                }
            }
        }
        @include heart;
    }
}