nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color-backg-sect;
    
    @include tablet-only{
        display: grid;
        grid-template-columns: 2fr 1.5fr 1.5fr;
        grid-template-rows: 1fr 1.5fr 2fr;
        padding-bottom: 1rem;
    }
    @include desktop-only{
        grid-template-columns: 1.2fr 3fr 1.2fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 0;
        column-gap: 0.3rem;
    }
    
    
    #localization{
        display: flex;
        @include flex-totaly-center;
        gap: 0.3em;
        border-top-style: solid;
        border-top-width: 0.3rem;
        background-color: darken($color: $color-backg-sect, $amount: 5%);
        border-image: linear-gradient(to bottom, darken($color-backg-sect, 20), transparent)100;
        width: 100%;
        height: 2.9rem;

        @include tablet-only{
            grid-column: 1 / 4;
        }
        @include desktop-only{
            flex-direction: column;
            align-items: flex-start;
            grid-column: initial;
            grid-row: 1/3;
            width: auto;
            height: 16rem;
            padding-left: 2rem;
            border-top: none;
        }
        @include desktop-only-big{
            padding-left: 6rem;
        }
        
        label{
            display: flex;
            gap: 1rem;
            font-size: 1rem;
            font-weight: bold;
            padding-bottom: 0.06rem;
            margin-bottom: 0.2rem;

            @include tablet-only{
                font-size: 1.2rem;
            }

            @include desktop-only{
                font-size: 1.8rem;
            }

            i{
                @include desktop-only{
                    position: relative;
                    top: 1.6rem;
                    left: -0.4rem;
                    font-size: 1.6rem;
                }
            }
        }
        select {
            appearance: none;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            background: none;
            margin-bottom: 0.2rem;

            @include tablet-only{
                font-size: 1.2rem;
            }

            @include desktop-only{
                font-size: 1.6rem;
                font-weight: 500;
                margin-left: 2.2rem;
            }
        }
    }
    h1{
        font-size: 1.5rem;
        text-align: center;
        margin: 2.5rem 0.5rem 0.3rem;
        line-height: 115%;

        @include tablet-only{
            grid-column: 1/3;
            position: relative;
            top: 1rem;
            margin: auto;
            text-align: center;
            font-size: 1.7rem;
        }
        @include desktop-only{
            grid-column: 2/2;
            position: initial;
            margin: auto 2rem 0.6rem;
            font-size: 2.2rem ;
            font-weight: 900;
        }

        br{
            @include tablet-only{
                display: none;
            }
            @include desktop-only{
                display: initial;
            }
        }
    }
    h2{
        font-size: 1.1rem;
        font-weight: 300;
        text-align:center;
        margin: 0.6rem 0.5rem 0.9rem;

        @include tablet-only{
            grid-column: 1/3;
            margin: auto;
            line-height: 125%;
            font-size: 1.3rem;
        }
        @include desktop-only{
            grid-column: 2/2;
            grid-row: 2/3;
            margin: 0.3rem 2rem auto;
            line-height: 150%;
            font-size: 1.6rem;
        }
    }
    .nav__link{
        @include btn($Height:2rem);
        margin: 1rem 0.5rem 3.6rem;
        
        @include tablet-only{
            grid-column: 3/4;
            grid-row: 2/4;
            margin: auto;
            text-align: center;
        }
        @include desktop-only{
            grid-row: 1/3;
            min-width: 4rem;
            max-width: 14rem;
            margin: auto;
            @include btn($FontSize:1.2rem);
        }

        &:hover{
            background: linear-gradient(to bottom right, lighten($color-secondary, 9), lighten($color-primary, 9));
            @include shadow-frame($color:darken($color-shadow, 30));
        }
    }
}