.funct{
    padding: 1.7rem 1.3rem 4.3rem;
    background-color: white;

    @include tablet-only{
        padding-top: 2rem;
        padding-bottom: 4rem
    }

    h2{
        @include title-sections;
        margin-bottom: 2rem;

        @include tablet-only{
            text-align: center;
            margin-top: 0;
        }
        @include desktop-only{
            font-size: 2rem;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 0;
        margin: 0;
        list-style-type: none;

        @include tablet-only{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__list{
        position: relative;
        display: flex;
        align-items: center;
        background-color: $color-backg-sect;
        height: 4.4rem;
        border-radius: 1.5rem;
        @include shadow-frame;
        margin-left: 1rem;
        font-weight: 700;
        padding-right: 1rem;

        @include tablet-only{
            width: 30%;
            font-size: 1.1rem;
        }
        @include desktop-only{
            font-size: 1.3rem;
            height: 4.8rem;
        }
        @include desktop-only-big{
            height: 5.4rem;
        }

        span{
            display: flex;
            @include flex-totaly-center;
            position: relative;
            left: -1rem;
            width: 1.5rem;
            min-width: 1.5rem;
            max-width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $color-primary;
            color: white;
            font-size: 0.8rem;
            font-weight: 500;
            
            @include tablet-only{
                font-size: 1.2rem;
                width: 1.7rem;
                min-width: 1.7rem;
                max-width: 1.7rem;
                height: 1.7rem;
            }

            @include desktop-only{
                font-size: 1.4rem;
                width: 2.2rem;
                min-width: 2.2rem;
                max-width: 2.2rem;
                height: 2.2rem;
            }
        }

        i{
            margin-left: .4rem;
            width: 2.5rem;
            color: darken($color: $color-backg-sect, $amount: 50%);
            font-size: 1.15rem;

            @include desktop-only{
                font-size: 1.4rem;
            }
            @include desktop-only-big{
                font-size: 1.6rem;
            }
        }

        &--color{
            background-color: lighten($color: $color-primary, $amount: 35%);
            height: 4.5rem;

            @include desktop-only{
                height: 4.8rem;
            }
            @include desktop-only-big{
                height: 5.4rem;
            }

            i{
                color: $color-primary;
            }
        }
    }
}