.funct{
    padding: 2rem 1rem 4.5rem;

    h2{
        @include title-sections;
        margin-bottom: 1.5rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    &__list{
        position: relative;
        display: flex;
        align-items: center;
        background-color: $color-backg-sect;
        height: 4.5rem;
        border-radius: 1.5rem;
        @include shadow-frame;
        margin-left: 1rem;
        font-weight: 600;

        span{
            display: flex;
            @include flex-totaly-center;
            position: relative;
            left: -0.8rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: $color-primary;
            color: white;
            font-size: 0.8rem;
            font-weight: 500;
        }

        i{
            margin: 0 1.2rem 0 0.7rem;
            color: darken($color: $color-backg-sect, $amount: 50%);
            font-size: 1.15rem;

        }

        &--color{
            background-color: lighten($color: $color-primary, $amount: 35%);

            svg{
                color: $color-primary;
            }
        }
    }
}