.menu{
    display: flex;
    form{
        display: flex;
        padding: 0 0.8rem;
        width: 100%;
        background-color: $color-backg-sect;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__category{
        &-1,&-2,&-3{
            position: relative;
            z-index: 0;
            opacity: 1;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            padding: 0;
            margin: 2.2rem 0 0 0;
            width: 100%;
            border-style: none;

            // &::before{
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            //     z-index: 1;
            //     opacity: 1;
            //     background: $color-backg-sect;
            // }
            
            legend{
                width: 2.5rem;
                border-bottom:solid .2rem $color-tertiary;
                background-color: $color-backg-sect;
                border-bottom: .2rem solid #99E2D0;
                padding: .3rem 0 .4rem;
                margin-bottom: 0.7rem;
                
            }
        }
    }
    &__dishes{
        &-1,&-2,&-3{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: white;
            border-radius: 0.5rem;
            @include shadow-frame;
            padding: 0;
            overflow: hidden;

            label{
                display: grid;
                width:100%;
                grid-template-columns: 5fr 1fr;
                grid-template-rows: 1fr 1fr;
                padding: .8rem 0;
                row-gap: 0.2rem;

                .menu__dishes-name, .menu__dishes-detail{
                    white-space: nowrap;/* passage à la ligne interdit et blancs regroupés*/
                    overflow: hidden; /*le contenu qui dépasse est rogné*/
                    text-overflow: ellipsis; /*points de suspension remplacent le texte rogné*/
                }
                .menu__dishes-name{
                    grid-area: 1 / 1;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0 1rem 0 0.8rem;
                }
                .menu__dishes-detail{
                    grid-area: 2 / 1;
                    font-size: 0.9rem;
                    padding: 0 1rem 0 0.8rem;
                }
                .menu__dishes-price{
                    grid-area: 2 / 2;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1rem;
                    text-align: right;
                    padding-right: 1.2rem;
                }
                &:hover + .menu__dishes-choice{
                    transition: width 0.4s linear;
                    width: 20%;
                    justify-content: center;
                }
                &:hover + .menu__dishes-choice i{
                    transform: rotate(1turn);
                    transition: transform 0.4s ease-in-out;
                }

                &:hover + .menu__dishes-test-animation{
                    animation: btn-choice-width 2s
                }
                &:hover + .menu__dishes-test-animation i{
                    animation: btn-choice-checked 2s;
                }
                
            }
        }
        &-choice{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 0%;
            background-color: $color-tertiary;

            i{
                background-color: white;
                border-radius: 50%;
                padding: 0.15rem;
                color: $color-tertiary;
                font-size: 1rem;
                font-weight: bold;
                transform: rotate(0turn);
            }
        }
        &-test-animation{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 0%;
            background-color: $color-tertiary;

            i{
                background-color: white;
                border-radius: 50%;
                padding: 0.15rem;
                color: $color-tertiary;
                font-size: 1rem;
                font-weight: bold;
                transform: rotate(0turn);
            }
        }

    }

    &__btn{
        @include btn($Height:auto, $PadRightLeft:3rem, $PadTopBott:1rem);
        margin: 2.5rem 0 1.7rem;
        border: none;

        &:hover{
            background: linear-gradient(to bottom right, lighten($color-secondary, 9), lighten($color-primary, 9));
            @include shadow-frame($color:darken($color-shadow, 30));
        }
    }
}