.menu{
    display: flex;
    form{
        display: flex;
        padding: 0 0.8rem;
        width: 100%;
        background-color: $color-backg-sect;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include desktop-only{
            align-items: flex-start;
        }

        @include desktop-only{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 3fr 1fr;
            column-gap: 1.3rem;
        }
    }
    &__category{
        &-1,&-2,&-3{
            position: relative;
            z-index: 0;
            opacity: 1;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            padding: 0;
            margin: 2.2rem 0 0 0;
            width: 100%;
            border-style: none;
            overflow: hidden;
            
            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1000;
                opacity: 0;
                background: $color-backg-sect;
                /*animation du fond à opacité dégressive complément animations catégories et plats (1 à 3)*/
                animation: progress_appearance 2s;
            }

            legend{
                width: 2.5rem;
                border-bottom: solid .2rem $color-tertiary;
                background-color: $color-backg-sect;
                padding: .3rem 0 .4rem;
                margin-bottom: 0.7rem;
            }
        }
        /*animation de l'arrivée des catégories de plats (1 à 3) uniquement desktop*/
        &-1{
            @include desktop-only{
                animation: category_movement 000ms;
            }
        }
        &-2{
            @include desktop-only{
                animation: category_movement 800ms;
            }
        }
        &-3{
            @include desktop-only{
                animation: category_movement 1600ms;
            }
        }
    }
    &__dishes{
        &-1,&-2,&-3,&-4{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 120%;
            background-color: white;
            border-radius: 0.5rem;
            @include shadow-frame;
            padding: 0;
            overflow: hidden;
            
            label{
                display: grid;
                width:100%;
                grid-template-columns: 5fr 1fr;
                grid-template-rows: 1fr 1fr;
                padding: .8rem 0;
                row-gap: 0.2rem;

                @include desktop-only{
                    padding: 1.2rem 0;
                    row-gap: 0.5rem;
                }

                .menu__dishes-name, .menu__dishes-detail{
                    white-space: nowrap;/* passage à la ligne interdit et blancs regroupés*/
                    overflow: hidden; /*le contenu qui dépasse est rogné*/
                    text-overflow: ellipsis; /*points de suspension remplacent le texte rogné*/
                }
                .menu__dishes-name{
                    grid-area: 1 / 1;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0 1rem 0 0.8rem;

                    @include desktop-only{
                        font-size: 1.2rem;
                    }
                }
                .menu__dishes-detail{
                    grid-area: 2 / 1;
                    font-size: 0.9rem;
                    padding: 0 1rem 0 0.8rem;

                    @include desktop-only{
                        font-size: 1rem;
                    }
                }
                .menu__dishes-price{
                    grid-area: 2 / 2;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1rem;
                    text-align: right;
                    padding-right: 1.2rem;

                    @include desktop-only{
                        font-size: 1.1rem;
                    }
                }
            }
            &:hover{
                transition: width 250ms linear;
                width: 100%;
            }
            &:hover i{
                transform: rotate(1turn);
                transition: transform 0.5s ease-in-out;
            }
        }
        /*animation de l'arrivée des plats (1 à 3) mobile et tablet*/
        &-1{
            animation: dishes_movement 000ms;
            @include desktop-only{
                animation: none;
            }
        }
        &-2{
            animation: dishes_movement 700ms;
            @include desktop-only{
                animation: none;
            }
        }
        &-3{
            animation: dishes_movement 1400ms;
            @include desktop-only{
                animation: none;
            }
        }
        &-4{
            animation: dishes_movement 1500ms;
            @include desktop-only{
                animation: none;
            }
        }


        &-choice{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            background-color: $color-tertiary;

            i{
                background-color: white;
                border-radius: 50%;
                padding: 0.15rem;
                color: $color-tertiary;
                font-size: 1rem;
                font-weight: bold;
                transform: rotate(0turn);
            }
        }
    }

    &__btn{
        @include btn($Height:auto, $PadRightLeft:3rem, $PadTopBott:1rem);
        margin: 2.5rem 0 1.7rem;
        border: none;

        &:hover{
            background: linear-gradient(to bottom right, lighten($color-secondary, 9), lighten($color-primary, 9));
            @include shadow-frame($color:darken($color-shadow, 30));
        }

        @include desktop-only{
            grid-column: 2/2;
            min-width: 16rem;
            margin: auto;
            font-size: 1.2rem;
        }
    }
}