@mixin shadow-frame($colour:rgba(225, 225, 225, 1)){
    box-shadow: 0 5px 10px $colour;
}

@mixin flex-totaly-center{
    justify-content: center ;
    align-items: center;
}
@mixin title-sections{
    font-size: 1.5rem;
}