@mixin shadow-frame($color: $color-shadow){
    box-shadow: 0 0.3rem 0.6rem $color;
}
@mixin flex-totaly-center{
    justify-content: center ;
    align-items: center;
}
@mixin title-sections{
    font-size: 1.5rem;
}