$color-primary: #9356DC;

$color-secondary:#FF79DA;

$color-tertiary:#99E2D0;

$color-btn: linear-gradient(to bottom right, $color-secondary, $color-primary);

$color-backg-sect:rgb(245,245,245);

$color-shadow: rgb(225, 225, 225);

$breakpoint-tab: 768px;
$breakpoint-dsk: 1024px;
$breakpoint-dsk-b: 1692px;